body{
    background-image: url(../../assets/images/woodFloor.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.navbar{
    height: 74px;
}

#form{
    margin-top: 90px;
    margin-bottom: 15px;
}

.btn{
    margin-left: 10px;
}

form{
    padding: 10px;
}

#myCarousel img {
    border-radius: 5px;
    width: auto;  
    height: 320px;   
}
 .loadingGif{
    margin-top: 85px;
    margin-left:30%;
    height: 40%;
    width: 40%;
    border-radius: 50%;
 }

 #results-container {
     background-color: white;
     border: 1px solid black;
     color: blue;
 }

 #authenticate{
     color:red;
     font-size: 12px;
     float: right;
 }

 .locationImage{
    position: relative;
    z-index: 2;
    margin-top: 125px;
    height: 75%;
    width: 75%;
    border-radius: 5px;
}

.locationName{
    position: relative;
    z-index: 4;
    color: black;
    font-size: 30px;
    background: white;
    border-radius: 5px;
    width: 745px;
    margin-top: -425px;
    margin-left: 30px;
}

.locationDescription{
    position: relative;
    z-index: 4;
    color: white;
    margin-left: 30px;
    margin-top: 23%;
    width: 700px;
    background: rgb(128, 128, 128, .5);
    border-radius: 5px;
    padding: 10px;
}
