body{
    background-image: url(../../assets/images/woodFloor.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.navbar{
    height: 74px;
}

#finalPage{
    margin-top: 115px;
}

#form{
    margin-top: 90px;
    margin-bottom: 15px;
}

.btn{
    margin-left: 10px;
}

form{
    padding: 10px;
}

#myCarousel {
    border-radius: 5px;
    width: auto;  
    height: 320px;   
}
 .loadingGif{
    margin-top: 85px;
    margin-left:30%;
    height: 40%;
    width: 40%;
    border-radius: 50%;
 }

 #finalPage{
     background-color: white;
     border: 1px solid black;
     color: blue;
     padding:auto;
 }

 #text-col{
     background-color: red;
     max-height: 100%;
     
 }

 #authenticate{
     color:red;
     font-size: 12px;
     float: right;
 }

 #image{
     max-height: 100%;
     max-width: 100%;
 }

 #text-results-container{
     padding-bottom: 20px;
 }

 /* Modal Style */
 #modalFormIcon {
    width: 10%;
}
.modal-header {
    border-bottom: none;
}
.modal-body {
    padding-bottom: 0;
}
.modal-title {
    text-align: center;
}
.modal-footer {
    border-top: none;
    padding-bottom: 0;
}
#emailButton {
    background-color: rgb(41, 43, 44);
    color: white;
}

#emailButton.btn-primary {
    border-color: white;
}
