body{
    /* background-image: url(../../assets/images/woodFloor.jpg); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#form{
    margin-top: 90px;
    margin-bottom: 15px;
}

.btn{
    margin-left: 10px;
}

form{
    padding: 10px;
}

#myCarousel img {
    border-radius: 5px;
    width: auto;  
    height: 320px;   
}
 .loadingGif{
    margin-top: 85px;
    margin-left:30%;
    height: 40%;
    width: 40%;
    border-radius: 50%;
 }
 #results-container {
     background-color: white;
     border: 1px solid black;
     color: blue;

 }