body{
    background-image: url(../../assets/images/woodFloor.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#form{
    margin-top: 90px;
    margin-bottom: 15px;
}

form{
    padding: 10px;
}

#myCarousel img {
    border-radius: 5px;
    width: auto;  
    height: 320px;   
}